/*  
  Sets the base css values (remove user agent styles). 
  inherited elements (effected their children) to "inherit" & non-inherited to "initial" 
  except for display property

  inspired by the new CSS reset - version 1.8.2 (last updated 23.12.2022)
  GitHub page: https://github.com/elad2412/the-new-css-reset
*/

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

// default behavior for box-sizing (includes all padding and border for sizing calculation)
// e.g. width = border + padding + width, height = border + padding + height
*,
*::after,
::before {
  box-sizing: border-box;
}

// set base font size with clamp from 10px (375 width) to 21px
html {
  font-size: var(--fs-base);
  font-family: var(--ff-base);
}

a,
button {
  cursor: revert;
}

// remove bullets/numbers from lists
ol,
ul,
menu {
  list-style: none;
}

// remove triangle on safari
summary::-webkit-details-marker {
  display: none;
}

img {
  width: 100%;
}

// remove spacing between table cells
// tables no have shared borders
table {
  border-collapse: collapse;
}

// set
pre {
  white-space: pre;
}
