:root {
  --ff-base: "Titillium Web", " Helvetica Neue Light", " Helvetica Neue",
  " Helvetica ", " Arial", sans-serif;

  --fs-base: 1.2rem;

  --fs-h1: 5.6rem;
  --fs-h2: 4.8rem;
  --fs-h3: 4.0rem;
  --fs-h4: 3.2rem;
  --fs-h5: 2.4rem;
  --fs-h6: 1.6rem;


}




$blue: #14213d;
$orange: #fca311;

$white: #ffffff;
$gray-100: #fffffa;
$gray-200: #dbdbd6;
$gray-300: #b6b6b3;
$gray-400: #92928f;
$gray-500: #6d6d6b;
$gray-600: #494947;
$gray-700: #242424;
$black: #000000;

$primary: $blue;
$secondary: $orange;
