@import "font";

:root {
  --ff-base: "Titillium Web", " Helvetica Neue Light", " Helvetica Neue",
    " Helvetica", " Arial", sans-serif;

  --fs-base: clamp(1.2rem, 0.55vw + 1.39rem, 1.6rem);

  --fs-h1: 4rem;
  --fs-h2: 3rem;
  --fs-h3: 2.5rem;
  --fs-h4: 2rem;
  --fs-h5: 1.6rem;
  --fs-h6: 1.2rem;

  --clr-primary: #14213d;
  --clr-secondary: #fca311;
}

$blue: #14213d;
$orange: #fca311;

$white: #ffffff;
$gray-100: #fffffa;
$gray-200: #dbdbd6;
$gray-300: #b6b6b3;
$gray-400: #92928f;
$gray-500: #6d6d6b;
$gray-600: #494947;
$gray-700: #242424;
$black: #000000;
