@import "reset";
@import "variables";

h1,
.h1 {
  font-size: var(--fs-h1);
  font-weight: bold;
  text-transform: uppercase;
  // background: linear-gradient(45deg, #355c7d, #6c5b7b, #c06c84);
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
}

h2,
.h2 {
  font-size: var(--fs-h2);
  font-weight: bold;
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: var(--fs-h3);
  font-weight: bold;
  text-transform: uppercase;
  visibility: hidden;
}

h4,
.h4 {
  font-size: var(--fs-h4);
  font-weight: bold;
  text-transform: uppercase;
}

h5,
.h5 {
  font-size: var(--fs-h5);
  font-weight: bold;
}

h6,
.h6 {
  font-size: var(--fs-h6);
  font-weight: bold;
  text-transform: uppercase;
}

body {
  color: #fff;
  background-color: #191a1e;
}


.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  display: flex;
  transform: translateX(100%);
  transition: transform .3s ease-in;
  background-color: #fff;
  color: black;
  min-height: 300px;
}

.nav ul {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav-toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
}

.nav-toggle:checked ~ .nav {
  transform: translateX(0);

}
.nav-toggle:checked ~ label {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.nav li {
  padding-right: 1rem;
}
.section {
  height: 100vh;
  color: #355c7d;
}

.hero {
  //background-image: linear-gradient(45deg, #355c7d, #6c5b7b, #c06c84);
  height: 100vh;
  display: flex;
  justify-content: center;
  //text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.6);
  align-items: center;
}

.hero > div {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.image {
  position: relative;
}

.image img {
  border-radius: 100%;
  animation-name: border-transform;
  animation: border-transform 10s linear infinite alternate forwards;
  -webkit-animation: border-transform 10s linear infinite alternate forwards;
  // -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  width: 80%;
}

// .divider {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   overflow: hidden;
//   line-height: 0;
//   transform: rotate(180deg);
//   height: auto;
// }

// .divider .shape-fill {
//   fill: #ffffff;
// }

.container {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.container > ul {
  display: flex;
}

// test
.main-title::after {
  content: "|";
  animation: blink 500ms linear infinite alternate;
}

.foo > h3 {
  visibility: visible;
}
.foo > h3 > span {
  -webkit-animation: textFade 0.5s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation: textFade .5s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation-delay: calc(30ms * var(--char-idx));
}

.blog-container {
  article {
    display: flex;
    color: #fff;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    &> picture, div {
      flex-basis: 50%;
    }
  }
}

@keyframes textFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes border-transform {
  0%,
  100% {
      border-radius: 63% 37% 54% 46%/55% 48% 52% 45%
  }

  14% {
      border-radius: 40% 60% 54% 46%/49% 60% 40% 51%
  }

  28% {
      border-radius: 54% 46% 38% 62%/49% 70% 30% 51%
  }

  42% {
      border-radius: 61% 39% 55% 45%/61% 38% 62% 39%
  }

  56% {
      border-radius: 61% 39% 67% 33%/70% 50% 50% 30%
  }

  70% {
      border-radius: 50% 50% 34% 66%/56% 68% 32% 44%
  }

  84% {
      border-radius: 46% 54% 50% 50%/35% 61% 39% 65%
  }
}