@import "reset";
@import "variables";

h1,
.h1 {
  font-size: var(--fs-h1);
  font-weight: bold;
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: var(--fs-h2);
  font-weight: bold;
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: var(--fs-h3);
  font-weight: bold;
  text-transform: uppercase;
}

h4,
.h4 {
  font-size: var(--fs-h4);
  font-weight: bold;
  text-transform: uppercase;
}

h5,
.h5 {
  font-size: var(--fs-h5);
  font-weight: bold;
  text-transform: uppercase;
}

h6,
.h6 {
  font-size: var(--fs-h6);
  font-weight: bold;
  text-transform: uppercase;
}

body {
  color: #c06c84;
}

.nav {
  height: 3rem;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #355c7d;
}

.nav li {
  padding-right: 1rem;
}

.section {
  height: 100vh;
  color: #355c7d;
}

.hero {
  background-image: linear-gradient(45deg, #355c7d, #6c5b7b, #c06c84);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.6);
  align-items: center;
}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  height: auto;
}

.divider .shape-fill {
  fill: #ffffff;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container > ul {
  display: flex;
}

// test
.main-title::after {
  content: "|";
  animation: blink 500ms linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
