{% extends "index.html" %} 

{% block pagetitle %} 
  {{ macros_head::site_title(page_title = section.title) }} 
{% endblock pagetitle %}

{% block content %}

{% set test = get_section(path=section.subsections | first) %} 

{% for page in section.pages %} 
  <section class="section">
    {{page.content | safe }}
  </section>
{% endfor%}

<h2>BLOG</h2>

<pre>{{ test | json_encode(pretty=true) }}</pre>

<div class="blog-container">
{% for foobar in test.pages %}
  <article>
    <picture>
      <source srcset="" />
      <img src="{{get_url(path='img/' ~ foobar.extra.image)}}" />
    </picture>
    <div>
      <p>{{ foobar.date | date(format="%d.%m.%Y")}}</p>
      <p>{{foobar.title}}</p>
      <p>{{foobar.description | safe}}</p>
      <a href="{{test.permalink}}">weiterlesen</a>
    </div>
  </article>
{% endfor %}
</div>

<pre>{{section | json_encode(pretty=true)}}</pre>
{#
<pre>{{test | json_encode(pretty=true)}}</pre>
#} {#
<pre>{{test | json_encode(pretty=true)}}</pre>
#} {% endblock content%}
