{% extends "index.html" %} 

{% block pagetitle %} 
  {{ macros_head::site_title(page_title = section.title) }} 
{% endblock pagetitle %}

{% block content %}
  {% set blog = get_section(path=section.subsections | first) %} 

  {% for page in section.pages %} 
    <section class="section">
      {{page.content | safe }}
    </section>
  {% endfor%}

  <h2>BLOG</h2>

{# <pre>{{ test | json_encode(pretty=true) }}</pre> #}

  <div class="blog-container">
  {% for page in blog.pages %}
    <article>
      {% if page.extra.image %}
        <picture>
          <source srcset="" />
          <img src="{{get_url(path='img/' ~ page.extra.image)}}" />
        </picture>
      {% endif %}
      <div>
        <p>{{ page.date | date(format="%d. %b %Y")}}</p>
        <h2>{{page.title}}</h2>
        {%if page.extra.author %}
          <p>{{ page.extra.author }}</p>
        {% endif %}
        <p>{{page.description | safe}}</p>
        <a href="{{page.permalink}}">weiterlesen</a>
      </div>
    </article>
  {% endfor %}
  </div>

{# <pre>{{section | json_encode(pretty=true)}}</pre> #}

{% endblock content %}